.host-header {
    margin-bottom: 30px;
    margin-top: 10px;
    border-bottom: 1px solid #ddd;
    padding: 40px 0px;
    .header-text {
        line-height: 52px; 
    }
}

#host-dashboard {
    .party { border-bottom: 1px solid lighten(@litegray, 25%); }
    #group-profile {
        background: url('/assets/images/low_brow.png') no-repeat center bottom;
        padding-bottom: 75px;
        
        #group-main-stats {
            margin-top: 0px;
            h5 {
                line-height: 50px;
                margin-top: 0px;
                margin-bottom: 0px;
            }
            .col { border: none !important;
                span.largetext {
                    border-right: 1px solid @blue;
                    line-height: 70px; 
                }
                
                &:last-child > span.largetext {
                    border-right: none; 
                }
            }
        }
    }
}

#host-dashboard .row, .profiles, .parties {
    margin-top: 35px;
    margin-bottom: 35px;
    
    
    h2 {
        text-align: center;
        
        line-height: 120%;
        margin-bottom: 40px;
        
        
        position: relative;
        overflow: hidden;
        
        span.title-text {
            display: inline-block;
            vertical-align: baseline;
            zoom: 1;
            *display: inline;
            *vertical-align: auto;
            position: relative;
            padding: 0 20px;
            line-height: 90%; 
            &:before, &:after {
                content: '';
                display: block;
                width: 1000px;
                position: absolute;
                top: 0.73em;
                border-top: 1px solid #ddd;
            }
    
            &:before { right: 100%; }
            &:after { left: 100%; }
            
            .grey { color: #9a9a9a; }
        }
        
        
       
    }
}

.profile-pic {
    .border-radius(40px);
}
time {
    display: block;
    clear: both;
    text-transform: uppercase;
    
}

.party {
    display: block; .clearfix; padding: 10px; 
    &.no-data-wrap {
        background: mistyrose;
    }
    
    &:hover { text-decoration: none; }
    
    .date { display: block; background: @blue; padding: 5px; text-align: center; width: 70px;
        .day, .month, .year { display: block; line-height: 120%; clear: both; color: white; }
        .month, .year { font-size: 10px; text-transform: uppercase; color: white; letter-spacing: 1.3px; }
        .day { font-size: 32px; .Font-PatuaOne; color: white; }
    }
}

.count { border-right: 1px solid @blue;
    &:last-child { border-right: none; }
}

#party-list {
    overflow-y: scroll;
    height: 480px;
    
}

#group-main-stats {
    .col {
        width: 20%;
        padding: 6px;
        border-right: 1px solid @blue;
        text-align: center;
        &:last-child {
            border-right: none !important;
        }
        
        h5 { font-size: 11px; text-transform: uppercase; }
    }
}
.location { font-size: 18px; font-weight: bold; }
.media.party { margin-top: 0px !important; }

.body {float: left;clear: none; width: 80% ;}
.links { float: left;clear: none; width: 20%; }
.short-body { float: left;clear: none; width: 25%; }
.stat {
    float: left;
    clear: none;
    width: 16.66666%;
    font-size: 36px;
    text-align: center; 
    min-height: 70px;
    height: 70px; 
    .count;
    .footprint { margin: 5px; background: @blue; color: white; font-size: 24px; padding: 8px; }
}
.greyed { color: darken(mistyrose, 8%); }
.fixed { color: @fixed;}
.repairable { color: @repairable;}
.dead { color: @dead;}
    
.col { width: 50%; display: inline-block; float: left; text-align: center; }
.col3 { width: 33.333%; display: inline-block; float: left; text-align: center;  }
.subtext { font-size: 10px; text-transform: uppercase;  display: block; clear: both; }
.largetext { font-size: 36px; text-align: center; display: block; clear: both;  min-height: 70px; height: 70px;  }
.add-info-btn { margin: 15px 32px; }
.no-data { float: left; clear: none; width: 75%; }
.data { float: left; clear: none; width: 75%; }

.year-break {
    font-size: 24px; text-align: center; padding: 15px; color: white; background: lighten(@litegray, 25%);
}


.party-input { width: 51px; height: 51px; }

.barpiece {
    display: block;
    float: left;
    clear: none;
    color: white;
    text-align: center;
    padding: 6px;
    min-height: 32px;
    
    &.fixed {
      background-color: @fixed;

    }
    &.repairable {
      background-color: @repairable;
      
    }
    &.end-of-life {
      background-color: @dead;
      
    }
}


.rs-1{ background: lighten(@fixed, 40%); }
.rs-2{ background: lighten(@repairable, 35%); }
.rs-3{ background: lighten(@dead, 30%); }


.category-detail {
    margin-left: 25px; padding-left: 25px; border-left: 1px solid @litegray;
    table tr td {
        padding: 3px 8px; 
    }
}

.barpiece-tabs {
    margin-left: 25px; padding: 25px; border-left: 1px solid @litegray; 
    ul {
        list-style: none; margin: 30px auto; padding: 0px;
        li { padding: 2px 0px;
            button{ min-width: 60px; }
        }
    }
    
}

.wrap-device-input {
    position: absolute; top: 0; bottom: 0; left: 0; height: 100%; background: rgba(255,255,255,0.75);z-index: 1000; width: 100%;
    .device-input {
        margin-top: 30px;
        margin-bottom: 30px; 
        padding-top: 15px;
        padding-bottom: 15px; 
        height: 100%;
        background: white;
        border: 1px solid @litegray; 
    }
}

