@import '../../components/bootstrap/less/bootstrap.less';
@import 'variables.less';
@import 'mixins.less';

body {
    .Font-OpenSans;
}

h1,h2,h3 {
    margin: 0px 0px 15px 0px;
    .Font-PatuaOne;
    font-weight: 400;
}

h1 {
    font-size: 3.2em;
    line-height: 1.8em;
    color: @blue;
}


h2 {
    font-size: 2.4em;
    line-height: 2em;
}
h3 {
    font-size: 1.8em;
    line-height: 2em;
}
